body{
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #510361, #e7d636);
}

.tela-login{
    background-color: rgba(0,0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button{
    background-color: #e9d736;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover{
    background-color: #e9d736;
    cursor: pointer;
}